<div class="container-fluid p-0">  
    <div class="content">
        <div class="chapter row col-12 col-sm-8 p-0 m-0">  
            <div #listmanga *ngFor="let item of listdata$| async; let i = index" class="item">
                <img [id]="i" src="/assets/giphy.gif" alt="..." class="img-fluid w-100 m-0 p-0">
                <img [id]="i+'-image'" loading="lazy" #item [src]="item" [alt]="info.manganame" class="img-fluid w-100 m-0 p-0 image-data-x" (load)="removewhenimageloaded(i)" appImageError>
                <!-- <img loading="lazy" #item [src]="item" [alt]="info.manganame" class="img-fluid w-100 m-0 p-0" appImageError> -->
            </div>  
        </div>   
    </div>
    <div class="comment">
        <router-outlet></router-outlet>
    </div>
    <div class="menu">
        <a class="p-2" (click)="mangadetails()" title="Quay lại bộ truyện"><i class="fa-solid fa-house"></i></a>
        <a (click)="showchapter()" class="list-chapter p-2" title="Menu" ><i class="fa-solid fa-bars fa-2xl"></i>
        <ul #listchapter>
            <li *ngFor=" let chapter of listChapter"><a (click)="readchapter(chapter)">{{chapter?.chapterName}}</a></li>
        </ul>
        </a>
        <div class="chapter d-flex">
            <a class="item p-2" (click)="prechapter()">Pre</a>
            <a class="item p-2">Chương {{info.chapterIndex}}
                <mat-progress-bar mode="determinate" [value]="curindex" color="accent" class="process"></mat-progress-bar>
            </a>
            <a class="item p-2" (click)="nextchapter()">Next</a>
        </div>
    </div>
    <div (click)="gohead()" class="go-top">
        <a title="Lên đầu trang"><i class="fa-solid fa-arrow-up"></i></a>
    </div>
</div>
