.result-category{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    min-height: 70vh;
}
.hf{
    display: flex;
    align-items: start;
}
.content{
    display: flex;
    flex-direction: column;
}
.title{
    background-color: rgb(235, 235, 235, .5);
    display: flex;
    justify-content: start;
    align-items: end;
    text-align: end;
    padding: 5px;
    mat-icon{
        font-size: 2rem;
        height: 2rem;
        margin-right: 5px;
    }
}
.data-result{
    min-height: 50vh;
    display: flex;
    .data{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 2px;
        flex-wrap: wrap;

        .image{
            position: relative;
            display: flex;
            max-height: 18rem;
            a{
                display: flex;
                width: 100%;
                position: absolute;
                left: 0;
                bottom: 0;
                justify-content: center;
                background-color: rgb(10, 10, 10, .4);
                color: white;
                font-weight: 700;
                text-decoration: none;
            }
            a:hover{
                background-color: rgb(10, 10, 10, .7);
                color: red;
            }
        }
        .image> img{
            width: 100%;
            object-fit: cover;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
            cursor: pointer;

        }
        .image> img:hover{
            opacity: .5;
        }
        .info> a{
            text-decoration: none;
            font-weight: 700;
            font-size: 1rem;
        }
        .info{
            border: 1px solid rgb(138, 136, 136, .5);
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
            min-height: 5rem;

        }
    }
}
.list-chapter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    a{
        display: flex;
        text-decoration: none;
        color: black;
    }
    a> span{
        display: inline;
        text-align: start;
        font-size: 11px;
        font-style: italic;
        color: rgb(134, 133, 133 ,.5);
        mat-icon{
            width: 12px;
            height: 12px;
            font-size: 12px;
            vertical-align: middle;
        }
    }
    a:hover{
        color: blue;
    }
}
.pagination{
    margin-top: auto;
    display: flex;
    justify-content: end;
    li{
        list-style-type: none;
        a{
            text-decoration: none;
            padding: 8px;
            background-color: rgba(225, 224, 224, 0.3);
            margin: 5px;
            border-radius: 3px;
        }
        a:hover{
            color: red;
            background-color: rgba(225, 224, 224, 0.7);

        }
    }
}
.slidebar{
    position: sticky;
    h2{
        text-align: center;
        background: linear-gradient(to bottom, #00ffff 0%, #6666ff 100%);
        margin: 0;
        color: white;
        text-shadow: 0 0 5px black;
    }
    .list-group-item{
        cursor: pointer;
        padding:  0;
        text-shadow: 0 0 1px black;
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 2rem;
            width: 100%;
        }
    }
    .list-group-item:hover{
        background-color: rgb(231, 231, 231);
        color: red;
        text-shadow: 0 0 1px red;

    }
}
.pagination-categories{

    li{
        cursor: pointer;
        list-style-type: none;
        background-color: rgb(234, 234, 234);
        margin:  5px;
        border-radius: 3px;
        a{
            text-decoration: none;
            color: black;
            padding: 5px 10px;

        }
    }
    li:hover{
        background-color: rgb(234, 234, 234 , .5);
        a{
            color: red;
        }
    }
}
article{
    position: relative;
    .pagination{
        position: absolute;
        bottom: 0%;
        right: 0%;
    }
}
@media (max-width: 991px) {
    .hf{
        grid-template-columns: 1fr;
    }
    .slidebar{
        display: none;
    }
    
}
