ul{
    list-style-type: none;
    padding: 0;
}
.comment-field {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.history-comment{
    width: 100%;
    display: inline-block;
    position: relative;
    background-color: white;
}
.comment-item{
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    background: rgb(239, 235, 235);
}
@media (max-width: 768px) {
    .data-comment {
        flex-direction: row;
    }
    .user-comment{
        max-width: 75%;
    }
    .avatar-user {
        max-width: 25%;
        margin-bottom: .5rem;
    }
}
