a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
ul{
    padding: 0px;
    margin: 0px;
}
.container{
    display: grid;
    padding: 0;
    grid-template-columns: 3fr 1fr;
}
.detail-info .row{
    padding-right: 0;
    margin-right: 0;
}
.info-manga
{
    background-color: rgb(255, 255, 255);
}
.list-manga{
    display: grid;
    background-color: rgb(255, 255, 255);
    border-left: 1px solid black;
}
.breadcrumbs >li:not(:last-child)::after{
    content: ' - ';
}
.breadcrumbs{
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap; /* Cho phép các mục xuống hàng khi không đủ không gian */
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.simple-chapter{
    border-bottom: 1px dashed rgb(205, 205, 205);
    margin: 0px;
    padding: 0px;
}
.action-chapter{
    border-bottom: 1px dashed rgb(205, 205, 205);
    margin: 0px;
    padding: 0px;
}
.list-data{
    font-size: 1rem;
    font-weight: 1000;
}
nav{
    border-radius: 5px; 
    border-color: black;
}
nav >ul>li>div >a{
    color: black;
}
nav >ul>li>div >a:hover{
    color: rgb(9, 213, 236);
}
.user{
    display: grid;
    grid-template-columns: 1.5fr 8.5fr;
}
.manga-detail{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.more-manga-detail{
    font-size: larger;
    text-decoration: none;
    cursor: pointer;
}
.more-manga-detail:hover{
    color: rgb(252, 78, 78);
    text-decoration: underline;
}
.detail-info .row .img-thumbnail{
    max-width: 20rem;
    max-height: 22rem;
}
.view-more-chapter{
    color: gray;
    height: 2rem;
    align-items: center;
    font-style: italic;
    cursor: pointer;
}
.view-more-chapter:hover{
   background-color: rgb(222, 220, 220, .3);
   color: rgb(0, 17, 255);
}
.rate{
    font-size: 1.2rem;
    display: none;
    i{
        cursor: pointer;
    }
}
.rate-submit:hover{
    color: rgb(248, 46, 46);
    background-color: rgb(12, 107, 250, .8);
    border: 1px solid rgb(12, 107, 250, .8);
    box-shadow: 0 0 2px black;
}
.star >img{
    width: 20px;
    height: 20px;
}
.chatroom{
    border: 1px solid rgb(220, 220, 220);
    border-radius: .25rem;
    margin-top: .5rem;
    padding: 0;
    min-height: 1rem;
    .info-chat{
        display: flex;
        align-items: center;
        font-weight: 600;
    }
    .action-chat{
        margin-left: auto;
    }
    .action-chat >a{
        cursor: pointer;
        text-decoration: none;
        padding: .5rem;
        border-radius: .25rem;
        margin: 0;
    }
    .action-chat >a:hover{
        color: red;
    }
 
}
.manga-image{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    img{
        display: flex;
        width: 80%;
        border-radius: .25rem;
    }
}
.status-off{
    display: inline-block;
    position: relative;
    width: .75rem;
    height: .75rem;
    border-radius: .375rem;
    background-color: red;
}
.status-on{
    display: inline-block;
    position: relative;
    width: .75rem;
    height: .75rem;
    border-radius: .375rem;
    background-color: green;
}
@media (max-width: 360px){
    .chat-data .data{
        max-width: 170px;
    }
    .list-manga{
        visibility: hidden;
        height: 0;
        overflow: hidden;
    }
    .container{
        grid-template-columns: 1fr;
    }
    .chat-data .data{
        -webkit-line-clamp: 2;
    }
}
.list-category >a:not(:last-child)::after{
    content: ' - ';
}
.history-comment{
    display: flex;
    flex-direction: column;
    .page-comment{
        display: flex;
        justify-content: right;
        text-align: center;
        margin-top: auto;
    }
    .page-comment >a{
        width: 30px;
        height: 25px;
        background-color: rgb(211, 210, 210);
        margin: .2rem;
        border-radius: 2px;
        color: rgb(123, 123, 123);
    }
    .page-comment >a:hover{
        color: rgb(0, 0, 0);
    }
   ul{
    display: flex;
    flex-direction: column;
   }
   ul>li{
    display: block;
   }
}
.user{
    background: rgb(239, 235, 235);
}
@media (min-width: 360px) and (max-width: 767px){
    .chat-data .data{
        max-width: 15rem;
    }
    .list-manga{
        visibility: hidden;
        height: 0;
        overflow: hidden;
    }
    .container{
        grid-template-columns: 1fr;
    }
    .chat-data .data{
        -webkit-line-clamp: 3;
    }
}
@media (min-width: 768px) and (max-width:1199px){
    .chat-data .data{
        max-width: 30rem;
    }
    .detail-info .row .img-thumbnail{
        max-width: 10rem;
        max-height: 15rem;
    }
    .container{
        grid-template-columns: 1fr;
    }
    .list-manga{
        visibility: hidden;
        height: 0;
        overflow: hidden;
    }
}

// .user-avatar{
//     display: grid;
//     justify-content: center;
// }
// .user-avatar >img{
//     width: 50px;
//     height: 50px;
//     padding: 0px;
// }
// .user-avatar >button{
//     width: 50px;
//     height: 20px;
//     padding: 0px;
//     font-size: .8rem;
// }
// .user-comment{
//     display: grid;
//     border: 1px solid rgb(154, 153, 153);
//     padding: 0px;
//     border-radius: .5rem;

// }
// .user-comment .user-info{
//     max-height: 25px;
// }
// .user-comment .user-info >span{
//     display: inline;
//     margin: 5px;
// }
// .chat-data {
//     margin: 0px;
// }
// .chat-data .data{
//     max-width: 50rem;
//     display: block;
//     overflow: hidden;
//     word-wrap: break-word;
// }
// .chat-data .data{
//     display: -webkit-box;
//     -webkit-line-clamp: 5;
//     -webkit-box-orient: vertical;
//     overflow: hidden;
// }