<section class="result-category">
    <div class="tool-bav">
        <h2 title="Mở danh sách thể loại" (click)="showandhidemenu($event)" class="title"><mat-icon>view_headline</mat-icon><span>Danh mục</span></h2>
        <ol [@expandCollapse]="menuState" class="row p-0 m-0">
          <li *ngFor="let item of CategorysSource" [@stagger]  class="col-sm-2 col-4 bg-light row p-0 m-0">
            <a class="fs-6 col-12" (click)="getManga(item.genreId)" [title]="item.info">{{item.genresIdName}}</a>
          </li>
        </ol>
    </div>
    <h3 class="ms-2 fs-6"><b><span style="color: red;">{{curcategory.genresIdName}}</span> : {{curcategory.info}}</b></h3>
    <div class="hf row container-fluid">
        <article class="bg-light">
            <div class="data-result">
                <div class="row d-flex justify-content-center">
                    <ng-container *ngIf="listManga.length >0">
                        <div *ngFor="let item of listManga" class="card m-1 p-0" style="width: 15rem;">
                            <img [src]="item.mangaImage || item.MangaImage" [alt]="item.mangaName || item.MangaName" class="card-img-top">
                            <div class="card-body">
                              <h5 [routerLink]="getUrl(item)" class="card-title">{{item.mangaName || item.MangaName}}</h5>
                              <p class="card-text">{{item.mangaDetails || item.MangaDetails}}</p>
                              <a [routerLink]="getUrl(item)" class="btn btn-primary">Chi tiết</a>
                            </div>
                          </div>
                    </ng-container>
                    <ng-container *ngIf="listManga.length == 0">
                        <div class="no-result">
                            <img src="../assets/noresult.png" alt="error" appImageError>
                        </div>
                    </ng-container>
                </div>
                <div class="pagination d-flex justify-content-center">
                    <ul class="d-flex p-2">
                        <li *ngFor="let page of page"><a (click)="getmangapage(page)">{{page}}</a></li>
                    </ul>
                </div>
            </div>
        </article>
        <aside class="slidebar">
            <h2>Danh mục</h2>
            <ul class="list-group d-none d-lg-block">
                <li class="list-group-item" *ngFor="let item of Categorys">
                    <a (click)="getManga(item.genreId)" [title]="item.info">{{item.genresIdName}}</a>
                </li>
            </ul>
            <ul class="pagination-categories d-flex justify-content-end">
                <li *ngFor="let i of pageforcategories; let j = index">
                    <a class="rounded" (click)="changeCategories(j)">{{j+1}}</a>
                </li>
            </ul>
        </aside>
    </div>
</section>
