<div class="container">
    <div class="row col-12 p-1">
        <div *ngFor="let item of listmanga" class="col-sm-6 card mb-3">
            <div class="card-data row g-0">
              <div class="image col-md-4">
                <img [src]="item?.mangaImage" class="img-fluid rounded-start" [alt]="item?.mangaName" appImageError>
              </div>
              <div class="data col-md-8">
                <div class="card-body">
                  <h5  (click)="infomanga(item)" class="card-title">{{item?.mangaName}}</h5>
                  <p class="content card-text">{{item?.mangaDetails}}</p>
                </div>
                <a (click)="unsubscribe(item)" class="unsubscribe btn btn-danger">Hủy theo dõi</a>
              </div>
            </div>
        </div>
    </div>  
</div>
