<div class="container bg-dark">
  <div class="slider-new-update bg-dark">
    <span class="bg-dark" style="font-size: 20px; border-radius: 5px;color: rgb(255, 255, 255);">Truyện mới cập nhật</span>
    <a type="button" class="icon-container pre" (click)="PreNewUpdate()"><i class="fa-solid fa-caret-right fa-rotate-180 fa-2xl"></i></a>
    <div class="row list-item mb-3 bg-dark m-0">
      <div [routerLink]="getUrl(item)" *ngFor="let item of datafirstload" class="col-sm-2 item bg-dark">
        <img [src]="item.mangaImage" class="img-thumbnail h-100 w-100 p-0" alt="Error" appImageError>
        <a [routerLink]="getUrl(item)" style="text-decoration: none;">
          <span>{{item.mangaName}}</span>
          <span>{{item.listChaper?.[0]?.chapterName || "N/A"}}</span>
          <span>{{item.dateupdate}}</span>
        </a>
      </div>
    </div>
    <a type="button" class="icon-container next" (click)="NextNewUpdate()"><i class="fa-solid fa-caret-right fa-2xl "></i></a>
  </div>
  <div class="top-view-date bg-light" style="height: 1rem;">
  </div>
  <div class="content-data bg-dark">
    <div class="content bg-dark">
      <div class="data mb-5 bg-dark">
        <router-outlet></router-outlet>
      </div>
    <div class="list-paginator bg-dark">
      <div class="paginator  bg-dark">
        <a class="page btn">First</a>
        <a class="page btn">{{page+1}}</a>
        <a [routerLink]="['page', page]" class="page btn">{{page+2}}</a>
        <div class="dropup-center dropup bg-dark">
          <button class="btn btn-secondary border-light " type="button" data-bs-toggle="dropdown" aria-expanded="false">
            ...
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item"  [routerLink]="['page', index]" *ngFor="let index of data2">{{index}}</a></li>
          </ul>
        </div>
        <a class="page btn">{{page+3}}</a>
        <a class="page btn">Last</a>
      </div>
    </div>
  </div>
  <div class="recommend m-2 bg-dark p-0">
    <app-slidebar></app-slidebar>
  </div>

</div>


