.container{
    width: 100%;
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding: 0;
}
.menu{
    display: flex;
    position: fixed;
    bottom: 5%;
    left: .25rem;
    & >a ,
    & >.chapter> a{
        color: black;
        text-decoration: none;
    }
    a{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(0, 0, 0, .5) ;
        cursor: pointer;
        &:not(.item):first-child{
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        &:last-child{
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
    & >a:hover,
    & >.chapter >a:hover:not(.item:nth-child(2)){
        background-color: red;
        color: rgb(0, 0, 0);
        border: 1px solid aqua;
    }
    .list-chapter{
        position: relative;
        ul{
            display: none;
            position: absolute;
            bottom: 100%;
            left: 0%;
            padding: 0;
            margin: 0;
            height: 10rem;
            overflow-y: scroll;
            li{
                list-style-type: none;
            }
        }
        ul> li> a{
            padding:  .5rem;
            width: 7rem;
            border-radius: 0;
        }
        ul> li> a:hover{
           color: red;
        }
    }
}
.go-top{
    position: fixed;
    bottom: 5%;
    right: 2%;
    a{
        width: 3rem;
        height: 3rem;
        padding: .5rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: aqua;
        border: 1px solid white ;
        cursor: pointer;
    }
    a:hover{
        background-color: blue;
        color: white;
        border: 1px solid aqua;
    }
}
.content{
    display: flex;
    justify-content: center;
    position: relative;
}
.chapter{
    display: block;
    justify-content: center;
    position: relative;
    .item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }
}
.tool-bar{
    height: 500px;
    display: none;
    position: fixed;
    background-color: aqua;
    right: 0;
    justify-content: center;
    align-items: center;
    a{
        padding: 1rem;
    }
}