<div class="content container d-grid d-sm-flex">
    <div class="tool-bav">
        <div (click)="showandhidemenu($event)" class="menu"><i class="fa-solid" [ngClass]="menuIconClass"></i>&nbsp;&nbsp;Menu</div>
        <ol [@expandCollapse]="menuState">
          <li *ngFor="let item of items" [@stagger] (click)="routerlink(item.id)">
            <a class="fs-6">{{ item.name }}</a>
          </li>
        </ol>
    </div>
    <div class="data">
        <router-outlet></router-outlet>
    </div>
</div>
