<div class="container">
    <div class="row card-info row g-0 text-center">
        <div class="col-sm-6 col-md-8">
            <ul class="row">
                <li class="row">
                    <div class="media col-sm-4 col-6 "><b>Tên User:</b></div>
                    <div class="media-data col-sm-8 col-6 ">{{user?.name}}</div>
                </li>
                <li class="row">
                    <div class="media col-sm-4 col-6 "><b>Tên đăng nhập:</b></div>
                    <div class="media-data col-sm-8 col-6 ">{{user?.userName}}</div>
                </li>
                <li class="row">
                    <div class="media col-sm-4 col-4 "><b>Email:</b></div>
                    <div class="media-data col-sm-8 col-8 ">{{user?.email}}</div>
                </li><li class="row">
                    <div class="media col-sm-4 col-6 "><b>Số điện thoại:</b></div>
                    <div class="media-number-data col-sm-8 col-6 ">{{user?.phoneNumber}}</div>
                </li>
                <li class="row">
                    <div class="media col-sm-4 col-6 "><b>Ngày đăng ký:</b></div>
                    <div class="media-data col-sm-8 col-6 ">{{user?.joinDate ?? 'N/A'}}</div>
                </li>
                <li class="row">
                    <div class="media col-sm-4 col-6 "><b>Cấp bậc:</b></div>
                    <div class="media-data col-sm-8 col-6 ">
                        <a class="role-user" *ngFor="let role of user?.role">{{role}}</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-4">
            <div class="avatar row ">
                <img [src]="user?.avatar" class="img-fluid" [alt]="user?.userName">
            </div>
        </div>
    </div>
    <div class="tool-bar">
        <button type="button" class="btn btn-primary">Sửa thông tin</button>
        <button type="button" class="btn btn-primary">Đổi mật khẩu</button>
    </div>
</div>
