<div class="content">
    <div class="room p-1" *ngFor="let item of listroomchat" (click)="JoinRoomChat(item)">
        <img [src]="item?.image" [alt]="item?.roomName" class="room-image img-thumbnail p-0 m-0" appImageError>
        <p class="room-name ms-1 m-1">{{item?.roomName}}</p>
        <div class="status-and-users">
            <span class="status-room-chat rounded-circle m-1"></span>
            <p class="m-0 me-1">14N</p>
        </div>
    </div>
    <ng-container *ngIf="!listroomchat">
        <div class="room p-1">
            <h3>Không có phòng chat nào</h3>
        </div>
    </ng-container>
    <!-- <div class="room p-1">
        <img src="../assets/hyouka.jpg" alt="" class="room-image img-thumbnail p-0 m-0">
        <p class="room-name ms-1 m-1">Hyouka</p>
        <div class="status-and-users">
            <span class="status-room-chat rounded-circle m-1"></span>
            <p class="m-0 me-1">14N</p>
        </div>
    </div>
    <div class="room p-1">
        <img src="../assets/sorry.jpg" alt="" class="room-image img-thumbnail p-0 m-0">
        <p class="room-name fs-6 ms-1 m-1">Sakurasou</p>
        <div class="status-and-users">
            <span class="status-room-chat rounded-circle m-1"></span>
            <p class="m-0 me-1">14N</p>
        </div>
    </div>
    <div class="room p-1">
        <img src="../assets/hyouka.jpg" alt="" class="room-image img-thumbnail p-0 m-0">
        <p class="room-name fs-6 ms-1 m-1">One punch man</p>
        <div class="status-and-users">
            <span class="status-room-chat rounded-circle m-1"></span>
            <p class="m-0 me-1">14N</p>
        </div>
    </div>
    <div class="room p-1">
        <img src="../assets/sorry.jpg" alt="" class="room-image img-thumbnail p-0 m-0">
        <p class="room-name fs-6 ms-1 m-1">Mahouka</p>
        <div class="status-and-users">
            <span class="status-room-chat rounded-circle m-1"></span>
            <p class="m-0 me-1">14N</p>
        </div>
    </div> -->
</div>