.content{
    display: flex;
    flex-direction: column;
    background-color: rgb(234, 236, 236, .5);
}
.room{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    cursor: pointer;
    .room-name{
        max-width: 7rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    img{
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 1.25rem;
    }
    &>p{
        padding: .75rem;
    }
    .status-and-users{
        display: flex;
        align-items: center;
        margin-left: auto;
        .status-room-chat{
            width: .5rem;
            height: .5rem;
            background-color: rgb(255, 0, 0);
            display: inline-block;
            position: relative;
        }
        p{
            color: red;
        }
        .count-use{
            margin-left: auto;
        }
    }
}
.room:hover{
    background-color: rgb(234, 236, 236);
}
@media (max-width: 1200px) {
    .room{
        .room-name,
        .status-and-users{
            display: none;
            visibility: hidden;
            height: 0;
            overflow: hidden;
        }
    }
    
}