.image{
    display: grid;
    justify-content: center;
    align-items: center;
}
.card{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(229, 229, 229, 0.5);
    border: none;
    .card-title{
        color:  black;
        font-weight: 700;
        font-size: 1rem;
        cursor: pointer;
    }
    .card-title:hover{
        color: red;
    }
}
.content{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.container{
    max-height: 80vh;
    overflow: auto;
}
.card-data{
    width: 95%;
    background-color: white;
    border-radius: .5rem;
}
.data{
    position: relative;
    .unsubscribe{
        display: block  ;
        position: absolute;
        bottom: 1%;
        right: 1%;
    }
}
@media (max-width: 767px) {
    .content{
        -webkit-line-clamp: 2;
    }
  }