*{
    background-color: rgb(255, 255, 255);
}
img{
    display: block;
    max-width: 100%;
}
.details-manga{
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.categorys >a{
    display: inline-flex;
    margin: 5px;
    background-color: rgba(0, 243, 251, 1);
    border-radius: 5px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 5px;
}
.categorys >a:hover{
    background-color: rgba(0, 243, 251, 0.5);
    color: rgb(255, 0, 0);
}
.list-group-item{
    border: 1px solid white;
    background-color: rgba(221, 220, 220, 0.5);
}
.list-group-item:hover{
    border: 1px solid rgb(135, 251, 251);
    background-color: rgb(175, 174, 174, .5);
}
.list-manga-item .card-body .item-name >h5:hover{
    color: rgb(0, 171, 171);
}
.list-manga-item{
    .col-md-4{
        img{
            width: 100%;
            object-fit: cover;
        }
    }
}
