<div class="data-comment">
    <div class="avatar-user">
        <img [src]="comment.userAvatar || comment.avatar" class="p-0" [alt]="comment.name" appAvatarError>
    </div>
    <div class="user-comment ms-1">
        <div class="comment-info">
            <span class="comment-username">{{comment.name || comment.userName}}</span>
            <span *ngIf="comment.curChapter !== null" class="comment-chapter">{{comment.curChapter}}</span>
            <span class="comment-date">Thời gian: {{(comment.date | date:'h:mm dd-MM-yyyy') || (comment.dateComment | date:'h:mm dd-MM-yyyy')}}</span>
            <div class="report">
                <a (click)="report=!report"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                <ng-container *ngIf="report == true">
                    <a class="btn-report">Báo cáo</a>
                </ng-container>
            </div>
        </div>
        <div class="comment-content">{{comment.commentData}}</div>
    </div>
</div>
<div class="action-comment">
   <div> <a (click)="ReplyComment(comment.idComment)">Phản hồi</a></div>
    <div ><i class="fa-regular fa-thumbs-up" style="color: #000000;"></i>{{likecomment}}
        <a (click)="like(comment.idComment)">Thích</a>
    </div>    
    <div ><i class="fa-regular fa-thumbs-up fa-rotate-180" style="color: #000000;"></i>{{dislikecomment}}
        <a (click)="unlike(comment.idComment)">Không thích</a>
    </div>
</div>
<div class="reply-comment" *ngIf="this.idComment=== comment.idComment && isComment === true"> 
    <form class="reply-field" (ngSubmit)="SenderReply(dataReply.value, (this.User.id?? this.User.idUser), comment.idComment)">
        <div class="data d-flex justify-content-end">
            <textarea class="input-reply" rows="3" #dataReply type="text" placeholder="Nhập nội dung phản hồi..."></textarea>
            <button type="submit" class="btn btn-primary submit-reply" >Gửi</button>
        </div>
    </form>     
</div>