.container-fluid{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 0;
    padding: 0;
    min-height: 50vh;
    grid-template-columns: 1fr;
}
.search-title{
    background: linear-gradient(to bottom, #66ffff 0%, #3366ff 100%);
    color: white;
    text-shadow: 0 0 5px black;
}
.categories-title{
    font-weight: 700;
    text-shadow: 0 0 2px aqua;
    color: black;
}
.calegories> form{
    display: grid;
    border-bottom: 1px solid black;
    min-height: 300px;
    .action-search{
        display: flex;
        position: relative;
        .btn{
            position: absolute;
            bottom: 5%;
        }
        input{
            width: 8rem;
            height: 2rem;
            box-shadow: 0 0 2px rgb(0, 0, 0, .5);
        }
        input:hover{
            box-shadow: 0 0 5px black;
            color: rgba(253, 48, 48);
        }
    }
}
.search-field .calegories{
    border-top: 1px solid black;
}
.action-search > input{
    width: 8rem;
    height: 2rem;
}
.result-field{
    display: grid;
    background-color: rgb(255, 255, 255);
    h2{
        font-weight: 600;
        text-shadow: 0 0 1px aqua  ;
    }
}
.result-item{
    background-color: rgba(216, 215, 215, 0.5);
    margin: 0;
    padding: 0;
    position: relative;
    a{
        text-decoration: none;
        color: black;
    }
    .result-info{
        display: grid;
        justify-content: center;
        align-items: end;
        p {
            min-height: 30px;
            width: 100%;
            margin: 0;
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            color: rgb(255, 255, 255);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .result-info:hover{
        img{
            opacity: .7;
        }
        p{
            background-color: rgba(255, 255, 255, 0.5);
            color: aqua;
        }
    }
    a:hover{
        color: red;
    }
}
.type-search{
    display: flex;
    border-bottom: 3px solid rgb(35, 35, 248);
    :nth-child(1){
        background: linear-gradient(to bottom, #3366ff 0%, #66ffff 100%);
    }
    .type-item{
        padding: 1rem;
        text-decoration: none;
        background-color: white;
        cursor: pointer;
        font-weight: 600;
    }
    .type-item:hover{
        color: rgb(255, 0, 0);
        background: linear-gradient(to bottom, #3366ff 0%, #66ffff 100%);
    }
}
