<div class="container">
    <div class="search-field">
        <h2 class="d-flex justify-content-center m-3 m-0 p-0">Tìm nâng cao</h2>
        <h2 class="m-0 p-0 ms-2">Danh sách thể loại</h2>
        <div class="calegories row m-0 p-0" style="background-color: white;">
            <form (submit)="search()" class="p-0">
                <div class="row mb-5 p-1 ms-2">
                    <ng-container *ngFor="let items of listCategory" >  
                        <div class="col-md-4 col-sm-6 col-lg-3">
                            <ng-container *ngFor="let item of items">
                                <div class="category d-flex justify-content-left p-1">
                                    <input type="checkbox" id="{{item.id}}" [(ngModel)]="item.selected" name="categories" value="{{ item.id }}">
                                    <label class="ms-2" for="{{item.id}}">{{item.name}}</label><br>
                                </div>
                            </ng-container>         
                        </div>
                    </ng-container>
                </div>
                <div class="action-search d-flex justify-content-center">
                    <input type="submit" value="Tìm kiếm" class="btn btn-primary text-center">
                </div>
            </form>
        </div>
    </div>
    <div class="result-field">
        <h2 class="border border-info d-flex justify-content-center m-2">Result</h2>
        <div class="row  d-flex justify-content-center">
            <div class="result-item col-sm-2 col-4 m-2">
                <div class="result-info d-grid justify-content-center text-center">
                    <img src="../assets/hyouka.jpg" alt="" class="img-thumbnail m-0 p-0">
                    <p>Sakurasou</p>
                </div>
                <div class="result-chapter d-grid justify-content-center">
                    <a href="">Chương 1</a>
                    <a href="">Chương 2</a>
                    <a href="">Chương 3</a>
                </div>
            </div>
            <div class="result-item col-sm-2 col-4 m-2">
                <div class="result-info d-grid justify-content-center text-center">
                    <img src="../assets/hyouka.jpg" alt="" class="img-thumbnail m-0 p-0">
                    <p>Sakurasou</p>
                </div>
                <div class="result-chapter d-grid justify-content-center">
                    <a href="">Chương 1</a>
                    <a href="">Chương 2</a>
                    <a href="">Chương 3</a>
                </div>
            </div>
            <div class="result-item col-sm-2 col-4 m-2">
                <div class="result-info d-grid justify-content-center text-center">
                    <img src="../assets/hyouka.jpg" alt="" class="img-thumbnail m-0 p-0">
                    <p>Sakurasou</p>
                </div>
                <div class="result-chapter d-grid justify-content-center">
                    <a href="">Chương 1</a>
                    <a href="">Chương 2</a>
                    <a href="">Chương 3</a>
                </div>
            </div>
            <div class="result-item col-sm-2 col-4 m-2">
                <div class="result-info d-grid justify-content-center text-center">
                    <img src="../assets/hyouka.jpg" alt="" class="img-thumbnail m-0 p-0">
                    <p>Sakurasou</p>
                </div>
                <div class="result-chapter d-grid justify-content-center">
                    <a href="">Chương 1</a>
                    <a href="">Chương 2</a>
                    <a href="">Chương 3</a>
                </div>
            </div>
            <div class="result-item col-sm-2 col-4 m-2">
                <div class="result-info d-grid justify-content-center text-center">
                    <img src="../assets/hyouka.jpg" alt="" class="img-thumbnail m-0 p-0">
                    <p>Sakurasou</p>
                </div>
                <div class="result-chapter d-grid justify-content-center">
                    <a href="">Chương 1</a>
                    <a href="">Chương 2</a>
                    <a href="">Chương 3</a>
                </div>
            </div>
            <div class="result-item col-sm-2 col-4 m-2">
                <div class="result-info d-grid justify-content-center text-center">
                    <img src="../assets/hyouka.jpg" alt="" class="img-thumbnail m-0 p-0">
                    <p>Sakurasou</p>
                </div>
                <div class="result-chapter d-grid justify-content-center">
                    <a href="">Chương 1</a>
                    <a href="">Chương 2</a>
                    <a href="">Chương 3</a>
                </div>
            </div>
            <div class="result-item col-sm-2 col-4 m-2">
                <div class="result-info d-grid justify-content-center text-center">
                    <img src="../assets/hyouka.jpg" alt="" class="img-thumbnail m-0 p-0">
                    <p>Sakurasou</p>
                </div>
                <div class="result-chapter d-grid justify-content-center">
                    <a href="">Chương 1</a>
                    <a href="">Chương 2</a>
                    <a href="">Chương 3</a>
                </div>
            </div>
        </div>
    </div>
</div>

