<div class="hotkey-field">
    <div class="hotkey container">
        <ul>
            <li> <a href="">Trang chủ</a></li>
            <li> <a (mouseenter)="Enter()" (mouseleave)="Leave()" href="Tim-kiem-nang-cao">Thể loại</a>
                <ul class="dropdown-menu" (mouseenter)="Enter()" (mouseleave)="Leave()" *ngIf="this.MoveEnter ==true" [ngClass]="{'fadeIn': this.MoveEnter}">
                    <li class="list-category">
                        <div *ngFor="let items of listCategory" class="col-sm-3">
                            <ul>
                                <li *ngFor="let item of items">
                                    <a [routerLink]="['/The-loai', item.genreId]" [title]="item?.info || 'N/A'">{{item.genresIdName}}</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
           
            <li> <a href="/Top-manga">Top truyện</a></li>
            <li> <a href="/Manga/A-Z">Danh sách</a></li>
            <li> <a href="/Tim-kiem-nang-cao" target="_self" class="advanced-search">Tìm nâng cao</a></li>
            <li> <a (click)="history()">Lịch sử</a></li>
            <li> <a (click)="following()">Theo dõi</a></li>
            <li> <a href="">Liên hệ</a></li>
        </ul>
    </div>
    <mat-progress-bar *ngIf="this.ProcessValue !== 0 && this.ProcessValue > 0 " mode="determinate" [value]="this.ProcessValue" color="accent"></mat-progress-bar>
</div>


