<div class="comment-field container bg-light">
    <h2><b>Bình luận</b></h2>            
    <form (ngSubmit)="SendMessage(data.value, User?.id)">
        <div class="input-group mb-3 p-1">
            <div class="row comment-field">
                <div class="mb-3">
                    <textarea #data class="form-control" rows="3" placeholder="Nhập gì đó để bình luận"></textarea>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-info">Bình luận</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="history-comment">
        <ul class="p-0">
            <li *ngFor="let comment of this.DanSachBinhLuan">
                <div class="comment-item row m-0">
                    <div class="comment-item-left col-2 d-flex justify-content-start">
                        <div class="avatar-comment d-flex justify-content-center">
                            <img [src]="comment.userAvatar" class="comment-avatar img-thumbnail p-0" [alt]="comment.userName" appAvatarError>
                        </div>
                        <div class="comment-action d-flex justify-content-center">
                            <span (click)="ReplyComment(comment.idComment)" class="comment-reply"><i class="fa-solid fa-reply"></i></span>
                        </div>
                    </div>
                    <div class="comment-item-right col-10">
                        <div class="comment-info">
                            <span class="comment-username">{{comment.userName}}</span>
                            <span class="comment-date">Thời gian: {{comment.date | date:'h:mm dd-MM-yyyy'}}</span>
                        </div>
                        <div class="comment-content">{{comment.commentData}}</div>
                    </div>
                </div>
                <div class="reply-comment-form" *ngIf="this.idComment=== comment.idComment"> 
                    <form class="reply-field row" (ngSubmit)="SenderReply(dataReply.value, this.User.id, comment.idComment)">
                        <i class="fa-solid fa-reply fa-rotate-180 fa-lg col-1" style="color: #000000;"></i>
                        <div class="col-11 d-flex justify-content-start">
                            <textarea class="input-reply" rows="3" #dataReply type="text" placeholder="Nhập nội dung phản hồi..."></textarea>
                            <button type="submit" class="btn btn-primary submit-reply" >Gửi</button>
                        </div>
                    </form>     
                </div>
                <div class="list-children">
                    <app-replycomment class="data-reply" [IdComment]="comment.idComment"></app-replycomment>
                </div>
            </li>
        </ul>
    </div>
</div>

