<div class="container bg-dark">
    <div class="data m-0 p-0">
        <ng-container *ngIf="ListSearch.length>0">
            <div *ngFor="let item of ListSearch" class="card col-4 " style="width: 12rem;" (click)="infomanga(item)">
                <img [src]="item?.mangaImage" class="card-img-top m-0 p-0" [alt]="item?.mangaName" appImageError>
                <div class="card-body">
                  <a class="card-text">{{item?.mangaName}}</a>
                </div>
            </div>
        </ng-container> 
    </div>
    <div class="slidebar d-flex justify-content-center">
        <router-outlet></router-outlet>
    </div>
</div>
