<div class="container">

	<div style="margin: 30px">
		<h1 class="ion-text-center">Đăng ký tài khoản</h1>

		<form [formGroup]="registerform">
			<div class="form-group">
				<label>Tên đăng nhập</label>
				<input class="form-control" formControlName="name" type="text" />
			</div>
			<div class="error-messages">
				<ng-container *ngFor="let error of error_messages.name">
					<div class="error-message" *ngIf="registerform.get('name')!.hasError(error.type) && (registerform.get('name')!.dirty || registerform.get('name')!.touched)">
						{{ error.message }}
					</div>
				</ng-container>
			</div>
			<div class="form-group">
				<label>Địa chỉ email</label>
				<input class="form-control" formControlName="email" type="text" />
			</div>
			<div class="error-messages">
				<ng-container *ngFor="let error of error_messages.email">
					<div class="error-message" *ngIf="registerform.get('email')!.hasError(error.type) && 
    (registerform.get('email')!.dirty || registerform.get('email')!.touched)">
						{{ error.message }}
					</div>
				</ng-container>
			</div>

			<div class="form-group">
				<label>Mật khẩu</label>
				<input class="form-control" formControlName="password" type="password" />
			</div>
			<div class="error-messages">
				<ng-container *ngFor="let error of error_messages.password">
					<div class="error-message" *ngIf="registerform.get('password')!.hasError(error.type) && (registerform.get('password')!.dirty || registerform.get('password')!.touched)">
						{{ error.message }}
					</div>
				</ng-container>
			</div>

			<div class="form-group">
				<label>Nhập lại mật khẩu</label>
				<input class="form-control" formControlName="confirmpassword" type="password" />
			</div>
			<div class="error-messages">
				<ng-container *ngFor="let error of error_messages.confirmpassword">
					<div class="error-message" *ngIf="registerform.get('confirmpassword')!.hasError(error.type) && (registerform.get('confirmpassword')!.dirty || registerform.get('confirmpassword')!.touched)">
						{{ error.message }}
					</div>
				</ng-container>
			</div>
			<ng-container *ngIf="registerform.errors">
				<div class="error">
					<p>Mật khẩu không trùng khớp</p>
				</div>
			</ng-container>
			<div class="pt-3">
				<button class="form-control btn btn-primary" [disabled]="!registerform.valid">Đăng ký</button>
			</div>
		</form>
		<div class="back pt-2">
			<a href="/user/login">Đăng nhập</a>
			<a href="">Quay về trang chủ</a>
		  </div>
	</div>
</div>