<div class="container p-0">
    <div class="info-manga">
        <ul class="breadcrumbs">
            <li class="ms-1"><a href="/"><i class="fa-solid fa-house"></i>Trang chủ</a></li>
            <ng-container *ngFor="let category of manga?.listcategory">
                <!-- <span><i class="fa-solid fa-angles-right"></i></span> -->
                <li class=" ms-1"><a [routerLink]="['/The-loai', category?.genreId]">{{category?.genresIdName}}</a></li>
            </ng-container>
        </ul>
        <div class="detail-manga">
            <h1 class="title-manga text-center">{{manga?.mangaName }}</h1>
            <h5 class="text-center"><b>Cập nhật lúc {{manga?.dateupdate }}</b></h5>

            <div class="detail-info text-center">
                <div class="row">
                  <div class="manga-image col-md-4 col-sm-12"><img [src]="manga?.mangaImage" [alt]="manga?.mangaData" appImageError></div>
                  <div class="card-info-manga col-md-8 col-sm-12 text-start">
                    <ul class="list-info-manga">
                        <li class="row author pt-2 pb-2 ms-1">
                            <p class="col-4 col-sm-4"><b>Tác giả</b></p>
                            <p class="col-8 col-sm-8">{{manga?.mangaAuthor}}</p>
                        </li>
                        <li class="row author pt-2 pb-2 ms-1">
                            <p class="col-4 col-sm-4"><b>Họa sĩ</b></p>
                            <p class="col-8 col-sm-8">{{manga?.mangaArtist}}</p>
                        </li>
                        <li class="row status pt-2 pb-2 ms-1">
                            <p class="col-4 col-sm-4"><b>Tình trạng</b></p>
                            <p class="col-8 col-sm-8">Chưa thêm vào !!!!</p>
                        </li>
                        <li class="row categories pt-2 pb-2 ms-1">
                            <p class="col-4 col-sm-4"><b>Thể loại</b></p>
                            <p class="list-category col-8 col-sm-8">
                                <a *ngFor="let category of manga?.listcategory" [routerLink]="['/The-loai', category?.genreId]">{{category?.genresIdName}}</a>
                            </p>
                        </li>
                        <li class="row view pt-2 pb-2 ms-1">
                            <p class="col-4 col-sm-4"><b>Lượt xem</b></p>
                            <p class="col-8 col-sm-8">{{formatview( manga?.view)}}</p>
                        </li>
                        <li class="row view pt-2 pb-2 ms-1">
                            <p class="col-4 col-sm-4"><b>Đánh giá: </b></p>
                            <p class="col-8 col-sm-8"><i class="fa-solid fa-star p-1" style="color: rgb(249, 249, 4);"></i>{{manga?.rating}}</p>
                        </li>
                        <li class="rate view pt-2 pb-2 ms-1">
                            <i *ngFor="let _ of [].constructor(10); let i = index" class="star p-1">
                                <img class="star-icon" (mousemove)="check($event,i)" src="/assets/star-empty-svgrepo-com.svg" alt="Star">
                            </i>
                            <a (click)="review()" class="rate-submit btn btn-primary ms-2 btn-sm">Xác nhận</a>
                        </li>
                        <li class="view pt-2 pb-2 ms-1">
                            <div>
                                <a (click)="follow(manga)" class="btn btn-danger ms-1" type="button">Theo dõi</a>
                                <a (click)="rating()" class="btn btn-primary ms-2" type="button">Đánh giá</a>
                            </div>
                        </li>
                    </ul>
                  </div>
                </div>
            </div>
            <div class="manga-content container-sm">
                <h3 class="border-bottom border-danger"><i class="fa-solid fa-book"></i> Nội dung</h3>
                <p #detail class="manga-detail m-0">{{manga?.mangaDetails}}
                </p>
                <a class="more-manga-detail" (click)="seemoredetail()">Xem thêm</a>
            </div>
            <div class="list-chapter container-sm mt-2">
                <h2 class="border-bottom border-danger"><i class="fa-solid fa-list"></i> Danh sách chương</h2>
                <div class="row list-data">
                    <div class="col ms-2">Số chương</div>
                    <div class="col">Ngày cập nhật</div>
                    <div class="col">Đã xem</div>
                </div>
                <nav class="border">
                    <ul #listdatachapter class="list-data-chapter">
                        <li *ngFor="let item of chapterlist$ | async" class="simple-chapter row pt-2 pb-2">
                            <div class="col"><a [href]="readchapter(item)">{{item.chapterName}}</a></div>
                            <div class="col"><i>{{formatdatetime(item?.chapterDate)}}</i></div>
                            <div [ngStyle]="{'color': item?.status === 'chưa xem qua' ? '' : 'rgba(128, 128, 128, 0.5)'}" class="col">
                                <i>{{item.status || 'N/A'}}</i>
                            </div>
                        </li>
                        <li *ngIf="isLastChapter=== false" class="action-chapter row"><a (click)="morechapter()" class="view-more-chapter d-flex justify-content-center"><i>+</i>Xem thêm</a></li>
                        <li *ngIf="isLastChapter === true"  class="action-chapter row"><a (click)="hidechapter()" class="view-more-chapter d-flex justify-content-center">Ẩn bớt<i>--</i></a></li>

                    </ul>
                </nav>
            </div>
        </div>
        <div class="manga-comment container-sm mt-5 border-top border-dark">
            <h2><b>Bình luận</b></h2>
            <div class="row comment-field ">
                <div class="mb-3">
                    <form (ngSubmit)="commentmanga(manga.mangaId, commentdata.value)">
                        <textarea #commentdata class="form-control" rows="3" placeholder="Nhập gì đó để bình luận"></textarea>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-info">Bình luận</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="history-comment mb-4">
                <ul>
                    <li *ngFor="let item of listComment" class="user row mt-2">
                        <div class="user-avatar">
                            <img class="img-thumbnail" [src]="avatar(item.avatar)" [alt]="item.name" appAvatarError>
                            <button type="button" class="btn btn-info">Trả lời</button>
                        </div>
                        <div class="user-comment">
                           <div class="user-info">
                                <span><b>{{item.name}}</b> </span>
                                <span *ngIf="item.curChapter!== null"> <i>{{item.curChapter}}</i></span>
                                <span><i>{{(item.dateComment | date: 'dd/MM/yyyy - h:mm') || item.dateComment}}</i></span>
                           </div>
                           <div class="row chat-data">
                                <div class="data m-1">{{item.commentData}}</div>
                           </div>
                        </div>
                    </li>
                </ul>
                <div class="page-comment">
                    <a (click)="getlistComment(manga?.mangaId,5,1)">1</a>
                    <a (click)="getlistComment(manga?.mangaId,5,2)">2</a>
                    <a (click)="getlistComment(manga?.mangaId,5,3)">...</a>
                    <a (click)="getlistComment(manga?.mangaId,5,4)">4</a>
                    <a (click)="getlistComment(manga?.mangaId,5,5)">5</a>
                </div>
            </div>
        </div>
    </div>
    <div class="list-manga">
        <app-slidebar></app-slidebar>
    </div>
</div>