h1{
    font-weight: 700;
}
.container{
    display: block;
    width: 100%;
    min-height: 80vh;
    padding: 2rem;
    .mail,
    .phone,
    .facebook{
        display: flex;
        p{
            margin-left: .25rem;
            font-weight: 700;
        }
        a{
            margin-left: .25rem;
            text-decoration: none;
            font-weight: 700;
            color: black;
        }
        a:hover{
            color: rgb(2, 154, 171);
        }
    }
}