.result-item{
    background-color: rgba(216, 215, 215, 0.5);
    margin: 0;
    padding: 0;
    position: relative;
    a{
        text-decoration: none;
        color: black;
    }
    .result-info{
        display: grid;
        justify-content: center;
        align-items: end;
        p {
            min-height: 30px;
            width: 100%;
            margin: 0;
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            color: rgb(255, 255, 255);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .result-info:hover{
        img{
            opacity: .7;
        }
        p{
            background-color: rgba(255, 255, 255, 0.5);
            color: aqua;
        }
    }
    a:hover{
        color: red;
    }
}
.no-result{
    display: flex;
    width: 100%;
    min-height: 500px;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/IMG_20180604_171359.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    opacity: .7;
    h1{
        color: aqua;
        text-shadow: 0 0 5px black;
        font-size: 3rem;
        font-weight: 700;
        opacity: 1;
    }
}