.no-result{
    display: flex;
    width: 100%;
    min-height: 500px;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/sorry.jpg');
    background-size: auto; 
    background-position: center; 
    background-repeat: no-repeat;
    opacity: .7;
    h1{
        color: rgb(255, 6, 6);
        text-shadow: 0 5px 5px black;
        font-size: 2rem;
        font-weight: 700;
        opacity: 1;
        font-style: italic;
    }
}
.card-text{
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.card{
    img{
        display: flex;
        object-fit: cover;
        height: 20rem;
    }
    a:hover{
        background-color: red;
        border: none;
        box-shadow: 0 0 3px black;
    }
    h5{
        font-size: 1rem;
        font-weight: 700;
        text-align: start;
        cursor: pointer;
    }
    h5:hover{
        color: red;
    }
}