<div class="list-all-manga">
    <section class="content">
        <h2 class="list-manga-title d-flex justify-content-center">Danh sách truyện</h2>
        <div class="list-data">
            <ul class="d-flex align-items-center">Sắp xếp theo:
                <li *ngFor="let category of Categories" (click)="getmanga(category.name)">{{category.viewname}}</li>
            </ul>
            <div class="result-list">
                <h2>Có tổng {{this.number}} truyện</h2>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col" class="title col-2">Thứ tự</th>
                        <th scope="col" class="title col-6">Tên</th>
                        <th scope="col" class="title col-2">Số chương</th>
                        <th scope="col" class="title col-2">Tình trạng</th>
                      </tr>
                    </thead>
                    <tbody class="data">
                      <tr [routerLink]="UrlLink(item.mangaId, item.mangaName)" class="items" *ngFor="let item of result, let j= index">
                        <th scope="row">{{j+1}}</th>
                        <td class="manga-name" (mouseenter)="hovermanga($event)" (mouseleave)="unhovermanga($event)">{{item.mangaName}}
                            <div class="manga-hover">
                                <div class="manga-hover-data">
                                    <div class="info">
                                        <div class="image">
                                            <img [src]="item?.mangaImage" [alt]="item?.mangaName">
                                        </div>
                                        <div class="info-detail p-2">
                                            <p>{{item?.mangaName}}</p>
                                            <div class="author mb-2"><b>Tác giả:</b><span class="ms-1">{{item?.mangaAuthor}}</span></div>
                                            <div class="artist mb-2"><b>Họa sĩ:</b> <span class="ms-1">{{item?.mangaArtist}}</span></div>
                                            <div class="category mb-2"><b>Thể loại:&nbsp;</b>
                                                <span *ngFor="let a of item?.listcategory">{{a.genresIdName}}</span>
                                            </div>
                                                <div class="rating mb-2"><b>Đánh giá:</b><span class="ms-1"><i class="fa-solid fa-star p-1" style="color: rgb(249, 249, 4);"></i>{{item?.rating}}</span></div>
                                            </div>
                                    </div>
                                    <div class="content">
                                        <p class="p-2"><b>Nội dung:</b><span>
                                            {{item?.mangaDetails}}
                                        </span></p>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>{{item?.chaptercount}}</td>
                        <td>{{item.status == true ? 'Đã hoàn thành' : 'Đang tiến hành'}}</td>
                      </tr>                 
                    </tbody>
                </table>
                <div class="pagination-list-manga">
                    <ul>
                        <li *ngFor="let a of pagination"><a (click)="changepage(a)">{{a}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <aside class="slidebar">
        <router-outlet></router-outlet>
    </aside>
</div>