<div class="list-reply">
    <ul>
        <li class="reply-field" *ngFor="let data of this.Danhsach">
            <div class="icon-reply"><i class="fa-solid fa-arrow-turn-up fa-rotate-90 fa-lg"></i></div>
            <div class="reply-item rows">
                <div class="reply-item-left co-l2 me-1">
                    <div class="avatar-reply">
                        <img [src]="data.userAvatar" class="reply-avatar img-thumbnail" alt="Error">
                    </div>
                </div>
                <div class="reply-item-right col-10">
                    <div class="reply-info">
                        <span class="reply-username">{{data.userName}}</span>
                        <span class="reply-date">Thời gian: {{data.dateReply | date:'h:mm dd-MM-yyyy'}}</span>
                    </div>
                    <div class="reply-content">{{data.replyData}}</div>
                </div>
            </div>
        </li>
    </ul>
</div>