*{
    background-color: rgb(255, 255, 255);
}
.container{
    display: grid;
    padding: 0;
    grid-template-columns: 1fr;
}
//New update
.slider-new-update {
    display: block;
    position: relative;
    justify-content: center; /* Căn giữa theo chiều ngang */
}
.list-item {
    display: flex;
    min-height: 15rem;
    justify-content: space-around; /* Căn giữa theo chiều ngang */
}
.item {

    display: flex;
    position: relative; 
    flex-direction: column;
    align-items: center; /* Căn giữa theo chiều dọc */
    text-align: center; /* Căn văn bản giữa theo chiều ngang */
}
.item >a{
    position: absolute;
    height: 4rem;
    background-color: transparent;
    width: 90%;
    bottom: 0;
    display: grid;
}
.item > a:hover,
.item > a:hover :nth-child(n) {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    color: aqua; /* Màu mới khi hover */
}
.item >a > span:nth-child(1),span:nth-child(2){
    background-color: transparent;
    color: white;
}
.item >a > span:nth-child(3){
    background-color: transparent;
    color: white;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
.icon-container {
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 55%; /* Đặt ở giữa theo chiều dọc */
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    transform: translateY(-50%); /* Điều chỉnh vị trí dọc */
}
.icon-container:hover{
    background-color: none;
    color: rgb(255, 0, 0, 1);
}
.icon-container >i{
    background-color: transparent;
}
.pre {
    z-index: 1000;
    left: 0; /* Đặt ở bên trái */
}

.next {
    z-index: 1000;
    right: 0; /* Đặt ở bên phải */
}
.item >img {
    border: none;
    width: 90%;
}
.item >img:hover {
    opacity: .5;
}
//Content
.content{
    display: flex;
    flex-direction: column;
    position: relative;
    column-gap: 5px;
    row-gap: 5px; 
}
.content .card{
    width: 90%;
    min-height: 300px;
}
.list-paginator{
    display: flex;
    justify-content: end;
    margin-top: auto;
    text-align: center;
}
.list-paginator .paginator{
    display: flex;
    margin-top: .5rem;

}
.list-paginator .paginator >a:not(.curpage-index), .btn-secondary{
    background-color: rgb(244, 243, 243);
    margin: 1px;
    color: rgb(145, 143, 143);
}
.curpage-index{
    background-color: rgb(184, 184, 184);
    color: black;
    margin: 1px;
}

.list-paginator .paginator >a:hover:not(.curpage-index),.btn-secondary:hover{
    background-color: rgb(161, 161, 161);
    color: rgb(252, 12, 12);
    border: 1px solid rgb(127, 229, 255);
}
.dropdown-menu {
    background-color: rgb(255, 255, 255);
}
.dropdown-menu >li>a{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.dropdown-menu >li>a:hover{
    background-color: rgb(230, 226, 226);
    color: black;
}
.dropdown-menu{
    max-height: 200px;
    overflow: auto;
}
.content-data{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 5px;
}
.content .card >img{
    display: block;
    max-width: 100%;
}
.top-view-date .list-group-item,
.history .list-group-item{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   justify-content: center;
   align-items: center;
}
.top-view-date .list-group-item >img,
.history .list-group-item >img{
    width: 50px;
    height: 50px;
    border: none;
    padding: none;
}
.top-view-date .list-group-item >span:nth-child(2),
.history .list-group-item >span:nth-child(2){
    color: black;
}
.top-view-date .list-group-item >span:nth-child(3),
.history .list-group-item >span:nth-child(3){
    text-align: end;
    background-color: transparent;
}

//recommend
.recommend{
    border: 1px solid white;
}
.content{
    position: relative;
}
.list-paginator{
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: black;

}
@media (max-width: 360px){
    .card {
        width: 100%;
        padding: 0 7px;
    }
    .recommend{
        visibility: hidden;
        height: 0;
        overflow: hidden;
    }
    .slider-new-update{
        visibility: hidden;
        height: 0;
        overflow: hidden;
    }
    .content-data{
       grid-template-columns: 1fr; 
    }
    .details-manga{
        display: none;
        visibility: hidden;
    }
}
@media (min-width: 360px) and (max-width: 767px){
    .card {
        width: 100%;
        padding: 0 7px;
    }
    .recommend{
        visibility: hidden;
        height: 0;
        overflow: hidden;
    }
    .slider-new-update{
        visibility: hidden;
        height: 0;
        overflow: hidden;
    }
    .content-data{
       grid-template-columns: 1fr; 
    }
    .list-paginator .paginator{
        justify-content: center;
        align-items: center;
    }
    .details-manga{
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}
@media (min-width: 768px) and (max-width:1199px){

    .card {
        width: 25%;
        padding: 0 7px;
    }
    .item > a>span:nth-child(n){
        font-size: .7rem;
    }
}
@media (min-width: 1200px){
    .card {
        width: 25%;
        padding: 0 7px;
    }
}
