<div class="data">
    <table class="table">
        <thead>
          <tr>
            <th scope="col" class="col-sm-1">Xếp hạng</th>
            <th scope="col"class="col-sm-7">Tên</th>
            <th scope="col"class="col-sm-2">Tình trạng</th>
            <th scope="col"class="col-sm-2">Điểm</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of result; let j= index">
            <th scope="row" class="align-middle">{{j+1}}</th>
            <td>
                <div class="infomanga row">
                    <div>
                        <a href="">
                            <img style="width: 60px; height: 80px;" [src]="item.mangaImage" [alt]="item.mangaName" appImageError>
                        </a>
                    </div>
                    <div>
                        <div class="hoverinfo" [id]="item.mangaId">
                            <div class="hoverinfo-container">
                                <div class="hoverinfo-name text-center">{{item.mangaName}}</div>
                                <div class="hoverinfo-content row">
                                    <div class="title">{{item.mangaDetails}}</div>
                                    <a>Chi tiết</a>
                                </div>
                                <div class="list-category ms-2"><b>Thể loại :</b>&nbsp;
                                    <span *ngFor="let categori of item.listcategory">{{categori.genresIdName}}&nbsp;</span>
                                </div>
                                <div class="ms-2"><b>Tác giả :</b>&nbsp;
                                    <span>{{item.mangaAuthor}}</span>
                                </div>
                                <div class="ms-2"><b>Họa sĩ :</b>&nbsp;
                                    <span>{{item.mangaArtist}}</span>
                                </div>
                                <div class="ms-2"><b>Số chương :</b>&nbsp;
                                    <span>{{item.chaptercount}}</span>
                                </div>
                                <div class="ms-2"><b>Loại :</b>&nbsp;
                                    <span>{{item.typeManga}}</span>
                                </div>
                                <div class="ms-2"><b>Tình trạng :</b>&nbsp;
                                    <span>{{item.status ===false ? 'Đang tiến hàng' : 'Đã hoàn thành'}}</span>
                                </div>
                                <div class="ms-2"><b>Theo dõi :</b>&nbsp;
                                    <span>{{item.numberFollow}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="info-name"><a (mouseenter)="changedisplay(item)" (mouseleave)="changedisplay(item)" (click)="mangainfo(item.mangaId, item.mangaName)">{{item.mangaName}}</a></div>
                        <div class="infomation d-grid">
                            <span>{{item.type}}</span>
                            <span>{{item.dateupdate | date: 'dd/MM/y'}}</span>
                            <span>{{formatview(item.view)}}</span>
                        </div>
                    </div>
                </div>
            </td>
            <td class="align-middle">{{item.status === false? 'Đang tiến hành': 'Đã hoàn thành'}}</td>
            <td class="align-middle"><i class="fa-solid fa-star p-1" style="color: rgb(249, 249, 4);"></i><span>{{item.rating == '0' ? 'Chưa có đánh giá' : item.rating}}</span></td>
          </tr>
        </tbody>
    </table>
    <div class=" pagination-topmanga">
        <ul class="d-flex justify-content-end p-2">
            <li *ngFor="let page of page"><a (click)="nextpage(page)">{{page}}</a></li>
        </ul>
    </div>
</div>