<div class="content">
    <div class="tool-bav">
        <ol>
            <li>
                <a href="">Thông tin tài khoản</a>
            </li>
            <li>
                <a href="">Danh sách truyện theo dõi</a>
            </li>
            <li>
                <a href="">Lịch sử đọc truyện</a>
            </li>
            <li>
                <a href="">Đắng ký trở thành dịch giả</a>
            </li>
            <li>
                <a href="">Đăng ký làm người quản lý</a>
            </li>
        </ol>
    </div>
    <div class="data">
        <router-outlet></router-outlet>
    </div>
</div>
