<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <img class="logo img-thumbnail" src="/assets/logo.png" alt="error">
    <a class="navbar-brand" href="#">Yahallo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll d-flex justify-content-start" style="--bs-scroll-height: 100px;">
        <li class="home nav-item">
          <a class="nav-link active" aria-current="page" href="#">Trang chủ</a>
        </li>
        <li class="notification nav-item">
          <a class="message nav-link" href="#">
              <i class="fa-regular fa-envelope"></i>
              <span>18</span>
          </a>
        </li>
        <li><a class="adsearch nav-item" href="/Tim-kiem-nang-cao">Tìm nâng cao</a></li>
      </ul>
      <form class="search-field d-flex justify-content-center">
        <input class="searchfrom form-control me-1" type="search" placeholder="Tìm kiếm" aria-label="Search">
        <button class="searchbtn btn btn-outline-warning" type="submit">Tìm</button>
      </form>
      <div class="nav-item login p-2">
        <a  class="login btn btn-primary" href="/Login" tabindex="-1" aria-disabled="true">Đăng nhập</a>
        <a  class="login btn btn-primary" href="/Register" tabindex="-1" aria-disabled="true">Đăng ký</a>
      </div>
    </div>
  </div>
</nav>



