<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <img class="logo img-thumbnail" src="/assets/logo.png" alt="error">
    <a class="navbar-brand" href="#">Yahallo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Trang chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Thể loại</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Link
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <input class="searchfrom form-control me-1" type="search" placeholder="Tìm kiếm" aria-label="Search">
        <button class="searchbtn btn btn-outline-warning" type="submit">Tìm</button>
      </form>
    <div class="nav-item login p-2">
      <a  class="btn btn-primary" href="#" tabindex="-1" aria-disabled="true">Đăng nhập</a>
    </div>
    </div>
  </div>
</nav>



