@import "~@fortawesome/fontawesome-free/css/all.css";
*{
    background-color: rgb(0, 0, 0, .8);
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    color: white;
}
ul{
    font-size: 14px;
}
.navbar{
    display: flex;
    max-height: 4rem;
    position: relative;
    z-index: 119067;
}
.navbar-toggler{
    border: 1px solid aqua;
}
.adsearch{
    text-decoration: none;
}
.home{
    height: 100%;
    display: grid;
    justify-content: center;
}
.home >a:hover{
   color: aqua;
}
.adsearch:hover{
    color: aqua;
}
.notification{
    height: 2rem;
    width: 2rem;
}
.message{
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    ul{
        background-color: white;
        display: block;
        position: absolute;
        top: 100%;
        padding: 0;
        li{
            list-style-type: none;
        }
    }
}
.item-notification{
    background-color: rgb(238, 234, 234);
    width: 12rem;
    display: flex;
    text-decoration: none;
    border: 1px solid rgb(185, 183, 183);
    img{
        max-width: 2rem;
    }
    span{
        background-color: rgb(238, 234, 234);
        width: 9rem;
        padding: .25rem;
        color: black;
        font-weight: 600;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

}
.item-notification:has(span:hover,img:hover),
.item-notification:hover {
    background-color: rgb(255, 255, 255);
    border: 1px solid aqua;
    span{
        background-color: rgb(255, 255, 255);
        color: red;
    }
    img{
        opacity: .5;
    }
}
.message >i{
    position: absolute;
    transform: scale(1.5);
}
.message:hover{
    .message-icon{
        opacity: .5;
        color: red;
    }
    .message-span{
        color: rgb(255, 0, 0);
        background-color: white;
    }
}
.message >span{
    padding: .125rem;
    padding-left: .25rem;
    padding-right: .25rem;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: -25%;
    right: 0; /* Đặt right: 0 để đẩy nó về góc phải */
}
.searchbtn{
    border-end-end-radius: 25px;
    border-start-end-radius: 25px;
    color: rgb(0, 0, 0);
    font-weight: 900;
    background-color: white;
    border: 1px solid rgb(0, 226, 242);
}
.searchbtn:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}
.searchfrom{
    border-start-start-radius: 25px;
    border-end-start-radius: 25px;
    background-color: white;
}
.logo{
    width: 4em;
    height: 4em;
    border: none;
}
.login{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-nav .nav-item{  
   margin-left: 2em;
}
.login >a{
    height: 2rem;
    width: 6rem;
    background-color: white;
    color: black;
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    font-size: 14px;
}
.login >a:hover{
    display: flex;
    background-color: rgba(224, 223, 223, 0.9);
    color: rgb(249, 9, 9);
}
.searchfrom{
    width: 20rem;
}
@media (max-width: 360px){
    .searchfrom{
        width: 10rem;
    }
    .notification{
        visibility: hidden;
        height: 0;
        overflow: hidden;
    }
    .login{
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
}
@media (min-width: 360px) and (max-width: 767px){
    .searchfrom{
        width: 15rem;
    }
    .notification{
        visibility: hidden;
        height: 0;
        overflow: hidden;
    }
    .login{
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
}
@media (min-width: 768px) and (max-width:1199px){
    .searchfrom{
        width: 18rem;
    }
   .navbar-nav{
        font-size: 12px;
   }
}