<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <img class="logo img-thumbnail" src="/assets/logo.png" alt="error">
    <a class="navbar-brand" href="#">Yahallo</a>
    <button (click)="showAndHideToggle()" #toggler  class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll d-flex justify-content-start" style="--bs-scroll-height: 100px;">
        <li class="home nav-item">
          <a class="nav-link active" aria-current="page" href="#">Trang chủ</a>
        </li>
        <li class="notification nav-item">
          <a class="message nav-link" (click)="notificationunseen()">
              <i class="fa-regular fa-bell" style="color: #ffffff;"></i>
              <span class="message-span" *ngIf="Notification?.length !==0">{{Notification.length}}</span>
              <ul *ngIf="isShownotification === true">
                <li *ngFor="let item of Notification" class="d-grid">
                  <a (click)="moreinfo(item)" class="item-notification">
                    <img [src]="item.imagerarget" [alt]="item.nametarget" appImageError>
                    <span class="d-block">{{item.message}}</span>
                  </a>
                </li>
              </ul>
          </a>
        </li>
        <li><a class="adsearch nav-item" href="/Tim-kiem-nang-cao">Tìm nâng cao</a></li>
      </ul>

      <!-- <form class="example-form search-field d-flex justify-content-center">
        <mat-form-field class="example-full-width">
          <mat-label>Manga Name</mat-label>
          <input class="inputsearch" #inputElement [(ngModel)]="inputsearch" type="text"
                 matInput
                 [formControl]="searchControl"
                 [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
            <mat-option *ngFor="let option of result " [value]="option">
              <img [src]="option.mangaImage" class="img img-thumbnail w-25 h-25" alt="img">
              <a #info (click)="timkiem(option.mangaId)">{{option.mangaName}}</a>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form> -->
      <form class="search-field d-flex justify-content-center" (submit)="timkiem($event)">
        <div class="search-content">
          <input (keydown.enter)="enterevent()" autocomplete="off" name="search" [(ngModel)]="inputsearch" #inputElement class="searchfrom form-control me-1" type="search" placeholder="Tìm kiếm" aria-label="Search">
        <ng-container *ngIf="result?.length>0">
        <ul class="search-result p-0 m-0">
          <li *ngFor="let item of result">
            <div (click)="infomanga(item)" class="search-result-data m-0 p-0">
              <img [src]="item?.mangaImage" [alt]="item.mangaName">
              <a >{{item.mangaName}}</a>
            </div>
          </li>
        </ul>
      </ng-container>
        </div>
        <button class="searchbtn btn btn-outline-warning" type="submit">Tìm</button>
      </form>
      <div class="nav-item login p-2">
        <ng-container *ngIf="hasLogin === false">
          <a  class="login btn btn-primary" href="/oAuth/login" tabindex="-1" aria-disabled="true">Đăng nhập</a>
          <a  class="login btn btn-primary" href="/oAuth/register" tabindex="-1" aria-disabled="true">Đăng ký</a>
        </ng-container>
        <ng-container *ngIf="hasLogin === true">
          <div class="user">
            <app-userheader [user]="user" (hasLogin)="islogout($event)"></app-userheader>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</nav>



