<div class="container">
    <div class="content">
        <ul class="data m-0 p-0">
            <li>
                <div class="item-chat m-2">
                    <div class="info">
                        <img src="../assets/sorry.jpg" alt="">
                        <span class="ms-1 me-2">Lê Sơn Hải</span>
                        <span class="d-flex align-items-center ">:</span>
                    </div>
                    <div class="chat-data">
                        <span>Xin chào</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-chat m-2">
                    <div class="info">
                        <img src="../assets/hyouka.jpg" alt="">
                        <span class="ms-1 me-2">Lê Sơn Hải</span>
                        <span class="d-flex align-items-center ">:</span>
                    </div>
                    <div class="chat-data">
                        <span>Xin chào</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-chat m-2">
                    <div class="info">
                        <img src="../assets/sorry.jpg" alt="">
                        <span class="ms-1 me-2">Lê Sơn Hải</span>
                        <span class="d-flex align-items-center ">:</span>
                    </div>
                    <div class="chat-data">
                        <span>Xin chào</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-chat m-2">
                    <div class="info">
                        <img src="../assets/hyouka.jpg" alt="">
                        <span class="ms-1 me-2">Lê Sơn Hải</span>
                        <span class="d-flex align-items-center ">:</span>
                    </div>
                    <div class="chat-data">
                        <span>Xin chào</span>
                    </div>
                </div>
            </li>
        </ul>
        <div class="action mb-2">
            <input type="text" class="border-end-0 rounded-pill">
            <button class=" btn btn-primary border-start-0 rounded-pill">Gửi</button>
        </div>
    </div>
</div>