<div class="container pe-0 p-0 m-0">
        <div class="content">
            <ul #fielddata class="data m-0 p-0">
                <ng-container *ngIf="hasRoom === false">
                    <div class="not-in-room">
                        <h1>Chưa vào phòng chat nào</h1>
                    </div>
                </ng-container>
                <!-- <li>
                    <div class="item-chat m-2">
                        <div class="info">
                            <img src="../assets/sorry.jpg" alt="">
                            <span class="ms-1 me-2">Lê Sơn Hải</span>
                            <span class="d-flex align-items-center ">:</span>
                        </div>
                        <div class="chat-data">
                            <span>Xin chào</span>
                        </div>
                    </div>
                </li> -->
            </ul>
            <div class="action">
                <form (submit)="chatToRoom($event)">
                    <input type="text" class="border-end-0 rounded-pill">
                    <button class=" btn btn-primary border-start-0 rounded-pill">Gửi</button>
                </form>
            </div>
        </div>
        <div class="user-active">
            <router-outlet></router-outlet>
        </div>
</div>