<div class="list-reply">
    <ul>
        <li class="reply-field" *ngFor="let data of this.Danhsach">
            <app-replycommentdata [data]="data"></app-replycommentdata>
            <!-- <div class="data-comment">
                <div class="icon-reply mt-2"><i class="fa-solid fa-reply fa-rotate-180" style="color: #c6c7c7;"></i></div>
                <div class="div content">
                    <div class="avatar-user ">
                        <img [src]="data.userAvatar" class="p-0" [alt]="data.userName" appAvatarError>
                    </div>
                    <div class="user-comment ms-1">
                        <div class="comment-info">
                            <span class="comment-username">{{data.userName}}</span>
                            <span class="comment-date">Thời gian: {{(data.dateReply | date:'h:mm dd-MM-yyyy')}}</span>
                            <div class="report">
                                <a (click)="report=!report"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                                <ng-container *ngIf="report == true">
                                    <a class="btn-report">Báo cáo</a>
                                </ng-container>
                            </div>
                        </div>
                        <div class="comment-content"><span style="color: blue;">@{{data.nameReply}}&nbsp;</span>{{data.replyData}}</div>
                    </div>
                </div>
            </div> -->
         </li>
    </ul>
</div>