<div class="container">
	<div class="home"><a href=""><i class="fa-solid fa-arrow-left"></i>Trang chủ</a></div>

	<div class="title p-3" >
		<h1 class="ion-text-center">Quên mật khẩu</h1>

		<form [formGroup]="forgotpasswordform">
			<div class="form-group">
				<label class="pb-2">Vui lòng nhập địa chỉ email của bạn</label>
				<input class="form-control" formControlName="email" type="text" />
			</div>
            <div class="pt-3">
                <button class="form-control btn btn-primary">Xác nhận</button>
            </div> 
		</form>
    <div class="back pt-2">
      <a href="/user/login">Đăng nhập</a>
      <a href="">Quay về trang chủ</a>
    </div>
	</div>
</div>
