.popup-message {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    color: rgb(245, 0, 0);
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-weight: 700;
    font-size: 1rem;
  }