.dropdown-toggle::after {
    display: none;
}
.dropdown-toggle{
    padding:  0px;
    border-radius: 1rem;
    position: relative;
    display: flex;
    width: 2rem;
    height: 2rem;
}
.avatar{
    display:  flex;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
.avatar:hover, 
.dropdown-toggle:hover{
    .avatar{ 
        opacity: .5;
        border: 1px solid aqua;
    }
}
.dropdown{
    position: relative;
}
.dropdown-menu{
    position: absolute;
}