<div class="recommend m-2">
    <div>
      <p style="text-align: center;" class="mb-1"><b>Xếp hạng lượt xem</b></p>
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="border-top border-danger">
        <mat-tab label="Ngày">
          <ul class="top-view-date list-group list-group-flush">
            <li [routerLink]="getUrl(item)" *ngFor="let item of date" class="list-group-item">
              <a>
                <img [src]="item?.mangaImage"  [alt]="item?.mangaName" appImageError>
                <span>{{item?.mangaName}}</span>
                <span>{{Format(item?.view)}}</span>
              </a>
            </li>
          </ul>
        </mat-tab>
        <mat-tab class="list-group-item" label="Tháng">
          <ul class="top-view-date list-group list-group-flush">
            <li [routerLink]="getUrl(item)" *ngFor="let item of month" class="list-group-item">
             <a>
              <img [src]="item?.mangaImage"  [alt]="item.mangaName" appImageError>
              <span>{{item?.mangaName}}</span>
              <span>{{Format(item?.view)}}</span>
             </a>
            </li>
          </ul>
        </mat-tab>
        <mat-tab class="list-group-item" label="Năm">
          <ul class="top-view-date list-group list-group-flush">
            <li [routerLink]="getUrl(item)" *ngFor="let item of year" class="list-group-item">
              <a>
                <img [src]="item?.mangaImage"  [alt]="item?.mangaName" appImageError>
                <span>{{item?.mangaName}}</span>
                <span>{{Format(item?.view)}}</span>
              </a>
            </li>
          </ul>
        </mat-tab>
      </mat-tab-group>
    </div>
    <ng-container *ngIf="hasLogin === true">
      <div class="readhistory mt-1">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="border-top border-danger">
          <mat-tab label="Lịch sử đọc">
            <ul class="history list-group list-group-flush">
              <li [routerLink]="urlHistory(item.id, item.name)" *ngFor="let item of readhistory" class="list-group-item">
                <a>
                  <img [src]="item?.image"  [alt]="item?.name" appImageError>
                  <span>{{item?.name}}</span>
                </a>
              </li>
            </ul>
          </mat-tab>
        </mat-tab-group>
      </div>
    </ng-container>
    <ng-container *ngIf="hasLogin === true">
      <div class="following-manga mt-1">
        <h3 class="text-center border border-danger fw-bold">Truyện theo dõi</h3>
            <ul class="following list-group list-group-flush">
              <li *ngFor="let item of mangafollowing" [routerLink]="getUrl(item)">
                <a class="list-following p-1">
                  <img [src]="item?.mangaImage"  [alt]="item?.mangaName" appImageError>
                  <span>{{item?.mangaName}}</span>
                </a>
              </li>
            </ul>
      </div>
    </ng-container>
</div>
